[user]
  name = mog
  email = github@moop.dev
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO1Vuk70Pio7AeO/2zkPmploRMIk2FxQeANDub0x32sH
[branch]
  sort = -committerdate
[color]
  ui = true
[color "diff"]
  commit = yellow bold
  frag = magenta bold
  func = 146 bold
  meta = 11
  new = green bold
  old = red bold
  whitespace = red reverse
[color "diff-highlight"]
  newHighlight = green bold 22
  newNormal = green bold
  oldHighlight = red bold 52
  oldNormal = red bold
[commit]
  gpgsign = true
[column]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=4 -RF
  editor = nvim
[credential "https://gist.github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://github.com"]
  helper =
  helper = !/opt/homebrew/bin/gh auth git-credential
[diff-so-fancy]
  changeHunkIndicators = false
[fetch]
  all = true
  prune = true
  pruneTags = true
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[init]
  defaultBranch = main
[interactive]
  diffFilter = diff-so-fancy --patch
[log]
  abbrevCommit = true
  follow = true
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  default = simple
[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true
[rerere]
  autoupdate = true
  enabled = true
[tag]
  gpgSign = true
  sort = version:refname